<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.itsmap.nissebanden.medicinerraadet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dk.itsmap.nissebanden.medicinerraadet.AndroidTabLayoutActivity"
            android:label="@string/title_activity_android_tab_layout"
            android:parentActivityName="TabActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TabActivity" />
        </activity>
        <activity
            android:name="dk.itsmap.nissebanden.medicinerraadet.NewsTabActivity"
            android:label="@string/title_activity_news_tab" >
        </activity>
        <activity
            android:name="dk.itsmap.nissebanden.medicinerraadet.OtherTabActivity"
            android:label="@string/title_activity_other_tab" >
        </activity>
        <activity
            android:name="dk.itsmap.nissebanden.medicinerraadet.ContactTabActivity"
            android:label="@string/title_activity_contact_tab" >
        </activity>
    </application>

</manifest>